<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <typeAlias type="com.ztesoft.nms.web.user.domain.User" alias="User" />
    </typeAliases>
    <!-- 配置Mapper文件的路径 -->
    <mappers>
        <mapper resource="mybatis/mapper/bit_flow__stat.xml" />
        <mapper resource="mybatis/mapper/Command.xml" />
        <mapper resource="mybatis/mapper/country_apn.xml" />
        <mapper resource="mybatis/mapper/Device.xml" />
        <mapper resource="mybatis/mapper/Sim.xml" />
        <mapper resource="mybatis/mapper/UserJourney.xml" />
        <mapper resource="mybatis/mapper/UserJourney4Partner.xml" />
        <mapper resource="mybatis/mapper/warn.xml" />
        <mapper resource="mybatis/mapper/SimAllocation.xml" />
        <mapper resource="mybatis/mapper/Test.xml" />
        <mapper resource="mybatis/mapper/Device.xml" />
        <mapper resource="mybatis/mapper/device_alloc_sim_no_limited.xml" />
        <mapper resource="mybatis/mapper/iq_sim.xml" />
        <mapper resource="mybatis/mapper/_sim_and_dev_alloc_dead_relation_only_for_test.xml" />
    </mappers>
</configuration>