<?xml version="1.0" encoding="UTF-8"?>

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
      classpath:/spring/applicationContext.xml
    </param-value>
  </context-param>

  <servlet>
    <servlet-name>guce-webappServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>
        <!--classpath:spring/tbox-servlet.xml,-->
        classpath:spring/applicationContext.xml,
        <!--classpath:spring/dbConfig.xml-->
      </param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>guce-webappServlet</servlet-name>
    <url-pattern>/tbox/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>uploadProcessorServlet</servlet-name>
    <servlet-class>com.guce.upload.UploadProcessorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadProcessorServlet</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>

  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>
      org.springframework.web.filter.CharacterEncodingFilter
    </filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <session-config>
    <session-timeout>
      30
    </session-timeout>
  </session-config>
  <!-- Welcome file lists -->
  <welcome-file-list>
    <welcome-file>ajaxFileUpload.jsp</welcome-file>
  </welcome-file-list>
</web-app>
